{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/app.js' %}"></script>
  </head>
  <body>
    <header >
      <nav class="container container--70">
        <ul class="nav--actions">
          <li class="logged-user">
            Witaj {{ user.first_name }}
            <ul class="dropdown">
              <li><a href="{% url 'profile' %}">Profil</a></li>
              <li><a href="{% url 'settings' %}">Ustawienia</a></li>
              {% if user.is_superuser %}
              <li><a href="{% url 'admin:index' %}">Panel administracyjny</a></li>
              {% endif %}
              <li><a href="{% url 'logout_view' %}">Wyloguj</a></li>
            </ul>
          </li>
        </ul>

        <ul>
          <li><a href="{% url 'LandingPage' %}" class="btn btn--without-border active">Start</a></li>
          <li><a href="{% url 'LandingPage' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="{% url 'LandingPage' %}#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="{% url 'LandingPage' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a href="{% url 'AddDonation' %}" class="btn  btn--without-border">Przekaż dary</a></li>
          <li><a href="{% url 'LandingPage' %}#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>
        <section class="login-page">
        <h2>Profil</h2>
        <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <h3> Imię: </h3>
            <input type="text" name="name" value="{{ user.first_name }}">
        </div>
        <div class="form-group">
            <h3> Nazwisko: </h3>
            <input type="text" name="surname" value="{{ user.last_name }}">
        </div>
        <div class="form-group">
            <h3> Email: </h3>
            <input type="email" name="email" value="{{ user.email }}">
        </div>

        </form>
        </section>
    </header>

    <section class="form--steps-container">
    <h2>Dary do odebrania:</h2>
    <ul>
        {% for donation in donations %}
            {% if not donation.is_taken %}
            <li>
                <h2>Darowizna {{ forloop.counter }}</h2>
                <h1>Ilość worków: {{ donation.quantity }}</h1>
                <h1>Organizacja: {{ donation.institution.name }}</h1>
                <h1>Kategorie:
                    {% for category in donation.categories.all %}
                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </h1>
                <h1>Data odbioru: {{ donation.pick_up_date }}</h1>
                <form  method="post" action="{% url 'take_donation' donation.id %}">
                    {% csrf_token %}
                    <button class="btn  btn--without-border active" type="submit">Oznacz jako zabrane</button>
                </form>
            </li>
            {% endif %}
        {% empty %}
            <li>Brak przekazanych darów.</li>
        {% endfor %}
    </ul>
</section>

<section class="form--steps-container">
    <h2>Przekazane dary:</h2>
    <ul>
        {% if donations %}
            {% for donation in donations %}
                {% if donation.is_taken %}
                <li>
                    <h2>Darowizna {{ forloop.counter }}</h2>
                    <h1>Ilość worków: {{ donation.quantity }}</h1>
                    <h1>Organizacja: {{ donation.institution.name }}</h1>
                    <h1>Kategorie:
                        {% for category in donation.categories.all %}
                            {{ category.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </h1>
                    <h1>Data odbioru: {{ donation.pick_up_date }}</h1>
                    <form  method="post" action="{% url 'take_donation' donation.id %}">
                        {% csrf_token %}
                        <button class="btn  btn--without-border active" type="submit">Oznacz jako niezabrane</button>
                    </form>
                </li>
                {% endif %}
            {% empty %}
                <li>Brak przekazanych darów.</li>
            {% endfor %}
        {% else %}
            <li>Brak przekazanych darów.</li>
        {% endif %}
    </ul>
</section>




<footer>
  <div class="contact">
    <h2>Skontaktuj się z nami</h2>
    <h3>Formularz kontaktowy</h3>
    <form>
      <div class="form-group form-group--50">
        <input type="text" name="name" placeholder="Imię">
      </div>
      <div class="form-group form-group--50">
        <input type="text" name="surname" placeholder="Nazwisko">
      </div>

      <div class="form-group">
        <textarea name="message" placeholder="Wiadomość" rows="1"></textarea>
      </div>

      <button class="btn" type="submit">Wyślij</button>
    </form>
  </div>
  <div class="bottom-line">
    <span class="bottom-line--copy">Copyright &copy; 2018</span>
    <div class="bottom-line--icons">
      <a href="#" class="btn btn--small"><img src="{% static 'images/icon-facebook.svg' %}" alt="Facebook"></a>
      <a href="#" class="btn btn--small"><img src="{% static 'images/icon-instagram.svg' %}" alt="Instagram"></a>
    </div>
  </div>
</footer>

</body>
</html>